@import 'tailwindcss';

@font-face {
  font-family: 'ChivoMono';
  src: url('/fonts/ChivoMono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ChivoMono';
  src: url('/fonts/ChivoMono-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'ChivoMono';
  src: url('/fonts/ChivoMono-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@theme {
  --color-*: initial;
  --color-white: #fff;
  --color-white-25: rgba(255, 255, 255, 0.25);
  --color-black: #000;
  --color-red: #f13d3d;
}

:root {
  --custom-red: #f13d3d;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'ChivoMono', monospace;
  font-size: 16px;
  button {
    cursor: pointer;
  }
  min-width: 360px;
  min-height: 360px;
  background-color: black;
}

.font-chivo-mono {
  font-family: 'ChivoMono', monospace;
  font-weight: normal;
}

.font-chivo-mono-light {
  font-family: 'ChivoMono', monospace;
  font-weight: 300;
}

.font-chivo-mono-thin {
  font-family: 'ChivoMono', monospace;
  font-weight: 200;
}
.font-chivo-mono-thiner {
  font-family: 'ChivoMono', monospace;
  font-weight: 100;
}

.nav-item {
  @apply relative py-3 lg:px-8 text-white inline-block;
}

.nav-item {
  position: relative;
  font-weight: 300;
}

.nav-item::after {
  content: '';
  position: absolute;
  bottom: 4px;
  left: 50%;
  width: 16px;
  height: 1px;
  background-color: var(--custom-red);
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

.soon::before,
.soon-left::before,
.soon-mobile::before {
  content: 'soon';
  position: absolute;
  font-weight: 400;
  color: var(--custom-red);
  font-size: 12px;
}

.soon::before {
  top: 0;
  right: 0;
}

.soon-left::before {
  top: 0;
  left: -16px;
}

.soon-mobile::before {
  top: -16px;
  right: -32px;
}

.nav-item:hover::after {
  opacity: 1;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-slow {
  animation: rotate360 7s linear infinite;
}

